<h2 class="page-title">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include("./_form_fields") %> 
  <a href="/books/<%= book.id %>" class="btn">Cancel</a>
  <button type="submit" class="btn">Save</button>
</form>