<h2 class="page-title">New Book</h2>
<form action="/books" method="POST">
  <%- include("./_form_fields") %> 
  <a href="/books" class="btn">Cancel</a>
  <button type="submit" class="btn">Create</button>
</form>