<header>
  <nav class="header-nav">
    <a href="/" class="header-title">
      <h1>Mybrary</h1>
    </a>
    <ul>
      <li>
        <a href="/books" class="nav-link">Books</a>
      </li>
      <li>
        <a href="/books/new" class="nav-link">Add Book</a>
      </li>
      <li>
        <a href="/authors" class="nav-link">Authors</a>
      </li>
      <li>
        <a href="/authors/new" class="nav-link">Add Authors</a>
      </li>
    </ul>
  </nav>
</header>