*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #F3F3F3;
  background-color: #0D0D0D;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.header-title {
  font-family: 'Bungee', cursive;
  text-decoration: none;
  color: #962D3E;
  font-size: 2rem;
}

.header-title:hover,
.header-title:active,
.header-title:focus {
  color: #FFFFFF;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 3rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 0 1rem;
  color: #962D3E;
  text-decoration: none;
}

.page-title {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #962D3E;
  text-decoration-thickness: .15rem;
}

h3 {
  font-family: 'Bungee', cursive;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  padding: .5rem 1rem;
  color: #FFFFFF;
  background-color: #348899;
  text-transform: uppercase;
  text-decoration: none;
  margin: .25rem;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #245f6b;
}

.btn-danger {
  background-color: rgb(177, 32, 32);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: rgb(121, 22, 22);
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  margin-left: auto;
}

input[type="text"] {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #262626;
  outline: none;
  border-radius: .25rem;
  color: #FFFFFF;
  border: 1px solid #000000;
  padding: .25rem .5rem;
  margin: .5rem 0;
}

input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus {
  background-color: #202020;
}

.author-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #F3F3F3;
  margin: .1rem 0;
}

.author-container:first-of-type {
  border: none;
}

.author-container .author-name {
  font-size: 1.5rem;
  margin-right: auto;
}

@media(max-width: 780px) {
  .inner-container {
    margin: 0 1rem;
  }
}

@media(max-width: 440px) {
  .header-title {
    font-size: 2rem;
  }

  .page-title {
    font-size: 1rem;
  }

  .header-nav {
    font-size: .7rem;
  }

  .nav-link {
    margin: 0 .25rem;
  }

  .nav-link:first-of-type {
    margin-left: 1rem;
  }
}