*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #F3F3F3;
  background-color: #0D0D0D;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.header-title {
  font-family: 'Bungee', cursive;
  text-decoration: none;
  color: #962D3E;
  font-size: 2rem;
}

.header-title:hover,
.header-title:active,
.header-title:focus {
  color: #FFFFFF;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 3rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 0 1rem;
  color: #962D3E;
  text-decoration: none;
}

.page-title {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #962D3E;
  text-decoration-thickness: .15rem;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  padding: .5rem 1rem;
  color: #FFFFFF;
  background-color: #348899;
  text-transform: uppercase;
  text-decoration: none;
  margin: .25rem;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #245f6b;
}

.btn-danger {
  background-color: rgb(177, 32, 32);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: rgb(121, 22, 22);
}

.form-row {
  display: flex;
  margin-bottom: .5rem;
}

.form-row-end {
  justify-content: flex-end;
}

.btn-row {
  display: flex;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex: 1;
  flex-basis: 0;
}

.form-item:first-of-type {
  margin-left: 0;
}

.form-item.form-item-no-grow {
  flex: 0;
}

.form-item > label {
  font-size: 1.2rem;
  margin-bottom: .25rem;
  margin-left: .25rem;
}

.form-item input,
.form-item select,
.form-item textarea {
  height: 2rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: 1px solid #000000;
  background-color: #262626;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.form-item input:hover,
.form-item input:active,
.form-item input:focus,
.form-item select:hover,
.form-item select:active,
.form-item select:focus,
.form-item textarea:hover,
.form-item textarea:active,
.form-item textarea:focus {
  background-color: #202020;
  border: 1px solid #595959;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.filepond--root {
  font-family: inherit;
  margin-bottom: 0;
}

.filepond--panel-root {
  background-color: #262626;
  border: 1px solid #000000;
}

.filepond--drop-label {
  font-size: inherit;
  color: #F3F3F3;
}

.author-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f3f3f310;
  margin-bottom: .1rem;
}

.author-row:first-of-type {
  border: none;
}

.author-row .author-name {
  font-size: 1.5rem;
}

.book-details {
  display: flex;
  gap: 2rem;
}

.book-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "author author";
  gap: .5rem;
  margin-top: .5rem;
}

.book-details-author-btn {
  grid-area: author;
  justify-self: stretch;
  text-align: center;
}

.book-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  gap: 1rem;
  grid-template-columns: auto auto;
}

.book-details-label {
  font-size: 1.2rem;
  align-self: flex-start;
}

.book-grid {
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 200px);
}

.book-grid-large {
  grid-template-columns: repeat(auto-fill, 350px);
}

.book-cover {
  width: 200px;
  height: 300px;
}

.book-cover-large {
  width: 350px;
  height: 525px;
}

.error-message {
  color: rgb(177, 32, 32);
}

@media(max-width: 780px) {
  .inner-container {
    margin: 0 1rem;
  }
}

@media(max-width: 440px) {
  .header-title {
    font-size: 2rem;
  }

  .page-title {
    font-size: 1rem;
  }

  .header-nav {
    font-size: .7rem;
  }

  .nav-link {
    margin: 0 .25rem;
  }

  .nav-link:first-of-type {
    margin-left: 1rem;
  }
}