<div class="form-row">
  <div class="form-item">
    <label for="author_name">Name</label>
    <input
      id="author_name"
      name="author_name"
      type="text"
      placeholder="Author Name"
      value="<%= author.name %>"
      autofocus
    />
  </div>
</div>