<h2 class="page-title">New Author</h2>
<form action="/authors" method="POST">
  <%- include("./_form_fields") %> 
  <a href="/authors" class="btn">Cancel</a>
  <button type="submit" class="btn">Create</button>
</form>